# Build output
dist/

# Astro cache
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.production

# OS Files
.DS_Store
Thumbs.db
CatalogsTTVietnam.pdf
catalogsTTEnglish.pdf
